# DATABASE
DATABASE_URL=

# PAYLOAD
PAYLOAD_SECRET=

# EMAIL
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
DEFAULT_FROM_ADDRESS=
DEFAULT_FROM_NAME=

# SITE SETTINGS
SITE_NAME=

# VERCEL AI GATEWAY
AI_GATEWAY_API_KEY=

# TRIGGER.DEV
TRIGGER_SECRET_KEY=